.form {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-inline: auto;
  background-color: white;
  padding: 25px;
  margin-top: 15vh;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.form #submit {
  width: 30%;
  margin-inline: auto;
  border-radius: 50px;
  border: 0px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: hsl(209, 100%, 50%);
  transition: 1s all;
  color: white;
  font-weight: bold;
}

.form #submit:hover {
    background-color: hsl(209, 100%, 30%);
    width: 50%;
}

.form-row {
  @apply flex gap-2 mb-3 items-center;
}
.half {
  @apply w-1/2;
}
